html {
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #1a2b5f;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1210px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: auto;
  font-family: "Poppins", sans-serif;
}

.header {
  padding-top: 4rem;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.header__menu-list {
  display: flex;
  align-items: center;
  justify-content: flex- start;
  flex-wrap: nowrap;
}
.header__menu-item {
  margin-left: 5rem;
}
.header__menu-item:last-child {
  margin-left: 7rem;
}
.header__menu-link {
  font-size: 1.6rem;
  color: #1a2b5f;
  transition: color 0.25s linear, border 0.25 linear;
}
.header__menu-link:hover {
  color: #ffc83a;
}
.header__login {
  padding: 1.5rem 2.5rem;
  display: inline-block;
  border: 2px solid;
  border-radius: 2.5rem;
}

.logo {
  font-size: 2.5rem;
  font-weight: 600;
  color: #1a2b5f;
  text-decoration: none;
}
.logo__text {
  color: #ffc83a;
}

.banner {
  padding-top: 15rem;
  max-width: 80rem;
  padding-bottom: 15rem;
  margin: 0 auto;
  text-align: center;
}
.banner__heading {
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
.banner__desc {
  font-size: 1.8rem;
  font-weight: 300;
}
.banner__buttons {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.banner__buttons .btn {
  margin: 0 1rem;
}

.btn {
  cursor: pointer;
  outline: none;
  font-size: 1.6rem;
  text-align: center;
  color: #1a2b5f;
  padding: 1.5rem 3rem;
  display: inline-block;
  border: 0;
  background-color: transparent;
}
.btn--border {
  border: 1px solid currentColor;
}
.btn--rounded {
  border-radius: 5rem;
}
.btn--primary {
  background-color: #ffc83a;
}
.btn.has-shadow {
  box-shadow: 0 10px 35px -5px #ffc83a;
}

.category {
  padding-bottom: 18rem;
}
.category__list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}
.category__item {
  width: calc(25% - 22.5px);
  padding: 2.5rem;
  background-color: #fafafa;
  border-radius: 20px;
}
.category__item:first-child {
  box-shadow: 0 20px 35px -5px rgba(255, 151, 194, 0.664);
}
.category__item:nth-child(2) {
  box-shadow: 0 20px 35px -5px rgba(151, 187, 255, 0.664);
}
.category__item:nth-child(3) {
  box-shadow: 0 20px 35px -5px rgba(248, 255, 151, 0.664);
}
.category__item:last-child {
  box-shadow: 0 20px 35px -5px rgba(255, 184, 151, 0.664);
}
.category__img {
  border-radius: inherit;
  object-fit: cover;
  width: 1005;
  height: 23rem;
}
.category__name, .category__details {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.category__name {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}
.category__details {
  font-size: 1.4rem;
  color: #c6cad7;
}
.category__details i {
  margin-left: 1.5rem;
}

.feature {
  padding-top: 18rem;
}
.feature__item {
  display: flex;
  align-items: center;
  margin-bottom: 15rem;
}
.feature__item:nth-child(even) {
  flex-direction: row-reverse;
}
.feature__item:nth-child(even) .feature__info {
  padding-right: 10rem;
}
.feature__item:nth-child(odd) .feature__info {
  padding-left: 10rem;
}
.feature__img, .feature__info {
  width: 50%;
}
.feature__title {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}
.feature__desc {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.8;
  margin-bottom: 4rem;
}
.feature-intro__item {
  font-weight: 600;
  margin-bottom: 2rem;
  text-decoration: underline;
  font-size: 1.8rem;
  padding-left: 3rem;
}
.feature-intro__item--circle {
  text-decoration: none;
  position: relative;
}
.feature-intro__item--circle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 4rem;
  background-color: royalblue;
  transform: translateY(-50%);
}
.feature-intro__item--circle:nth-child(2)::before {
  background-color: sandybrown;
}
.feature-intro__item--circle:nth-child(3)::before {
  background-color: rgba(30, 255, 0, 0.692);
}
.feature-intro__item--circle:nth-child(4)::before {
  background-color: #ff00d4;
}
.feature-intro__list {
  padding-left: 0;
}
.feature-best__icon {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  color: #f60000;
  position: relative;
  z-index: 1;
}
.feature-best__icon--green {
  color: darkgreen;
}
.feature-best__icon--gold {
  color: gold;
}
.feature-best__icon--purple {
  color: #c300ff;
}
.feature-best__icon:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: currentColor;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
}
.feature-best__title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.feature-best__desc {
  font-weight: 300;
}
.feature-best__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -40px;
}
.feature-best__item {
  width: calc(50% - 3rem);
  margin-bottom: 5rem;
}

.text-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-clamp--2 {
  -webkit-line-clamp: 2;
}
.text-clamp--1 {
  -webkit-line-clamp: 1;
}

.partner__container {
  max-width: 83rem;
  text-align: center;
}
.partner__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 7rem;
  padding-bottom: 7rem;
  border-bottom: 2px solid currentColor;
}
.partner__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.connect {
  text-align: center;
}
.connect__title {
  padding-top: 8rem;
  margin-top: 8rem;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 3.5rem;
}
.connect span {
  color: #ffc83a;
}
.connect__list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-left: -40px;
}
.connect__notice {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 6rem;
}
.connect__item {
  width: calc(25% - 25px);
}

.subscribe {
  padding-top: 16rem;
  margin-bottom: 5rem;
}
.subscribe__title {
  font-size: 2rem;
  width: 50%;
  font-weight: bold;
  max-width: 43rem;
}
.subscribe__info {
  width: 50%;
}
.subscribe__form {
  background-color: rgba(170, 170, 170, 0.137);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 2rem;
  margin-bottom: 3.5rem;
}
.subscribe__button, .subscribe__input {
  border: 0;
  outline: none;
  background-color: transparent;
  font-size: 1.4rem;
  font-family: "Poppins";
  flex-grow: 1;
}
.subscribe__button {
  max-width: 100px;
  cursor: pointer;
}
.subscribe__social {
  padding-right: 4rem;
  font-size: 3rem;
}
.subscribe__social .item {
  padding-right: 3rem;
}

.subscribe__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  border-bottom: 3px solid;
  padding-bottom: 8rem;
}

.footer__item {
  width: 25%;
}
.footer__link {
  color: #1a2b5f;
  font-size: 1.6rem;
  display: block;
  margin-bottom: 3rem;
  width: fit-content;
  font-weight: 600;
}

.footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
}

@media screen and (max-width: 1023px) {
  .banner {
    padding-top: 5rem;
    padding-bottom: 4rem;
  }
  .banner__heading {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  .banner__decs {
    font-style: 1.6rem;
  }
  .banner__buttons > .btn {
    font-size: 1.4rem;
  }

  .feature {
    padding-top: 0;
    margin-top: -10rem;
  }

  .category__item {
    width: calc(50% - 22.5px);
    margin-bottom: 3.5rem;
  }
  .category__list {
    margin-left: -40px;
  }
}
@media screen and (max-width: 767px) {
  .header__menu {
    display: none;
  }

  .category__item {
    width: 100%;
    margin-bottom: 3.5rem;
  }
  .category__img {
    height: 15rem;
  }

  .feature__item {
    flex-direction: column;
  }
  .feature__item:nth-child(2) {
    flex-direction: column;
  }
  .feature__desc {
    display: none;
  }
  .feature__img, .feature__info {
    width: 100%;
  }
  .feature__img img {
    margin: 0 auto 5rem;
  }

  .feature__info:nth-child(1) {
    margin-left: 0;
  }
}
@media screen and (max-width: 479px) {
  .header.banner__heading {
    font-size: 3rem;
  }

  .category__buttons > .btn {
    font-size: 1.2rem;
  }

  .feature__item:nth-child(odd) .feature__info {
    padding-left: 0rem;
  }

  .partner__container {
    margin-bottom: -20%;
  }

  .subscribe {
    padding-top: 10rem;
    display: none;
    margin-top: 10rem;
  }

  .footer__item {
    padding-top: 5rem;
    width: 100%;
  }

  .footer__link {
    font-size: 1rem;
  }

  .connect__list {
    flex-wrap: wrap;
  }

  .connect__item {
    width: calc(50% - 25px);
    margin-bottom: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
